<a href="/" class="logo" aria-label="Go to homepage">
    <img src="images/header/Logo.svg" alt="Positivus logotype">
</a>
<div class="navigation-container">`
    <button id="burger" class="open-main-nav">
        <span class="burger"></span>
    </button>
    <nav aria-label="Main navigation">
        <ul>
            <li><a href="javascript:void(0);">About us</a></li>
            <li><a href="javascript:void(0);">Services</a></li>
            <li><a href="javascript:void(0);">Use Cases</a></li>
            <li><a href="javascript:void(0);">Pricing</a></li>
            <li><a href="javascript:void(0);">Blog</a></li>
        </ul>
    </nav>
    <ul class="social_link__list">
        <li><a href="#">lI</a></li>
        <li><a href="#">FB</a></li>
        <li><a href="#">X</a></li>
    </ul>
</div>