<footer>
    <include src="./partials/footerNav.html"></include>
    <div class="footer_content">
        <div class="contacts">
            <h3>Contact us:</h3>
            <ul>
                <li>
                    <p>Email: info@positivus.com</p>
                </li>
                <li>
                    <p>Phone: 555-567-8901</p>
                </li>
                <li>
                    <p>Address: 1234 Main St Moonstone City, Stardust State 12345</p>
                </li>
            </ul>
        </div>
        <include src="./partials/footer_form.html"></include>
    </div>
    <div class="copyrigth">
        <p>© 2023 Positivus. All Rights Reserved.</p>
        <a href="#">Privacy Policy</a>
    </div>
</footer>