<section class="partners">
    <ul class="partners__list">
        <li class="partners__item">
            <a href="" class="partners__link">
                <svg class="partners__icon"><use href="./images/partners/partners.svg#icon-amazon"></use></svg>
            </a>
        </li>
        <li class="partners__item">
            <a href="" class="partners__link">
                <svg class="partners__icon"><use href="./images/partners/partners.svg#icon-dribble"></use></svg>
            </a>
        </li>
        <li class="partners__item">
            <a href="" class="partners__link">
                <svg class="partners__icon"><use href="./images/partners/partners.svg#icon-hubspot"></use></svg>
            </a>
        </li>
        <li class="partners__item">
            <a href="" class="partners__link">
                <svg class="partners__icon"><use href="./images/partners/partners.svg#icon-netflix"></use></svg>
            </a>
        </li>
        <li class="partners__item">
            <a href="" class="partners__link">
                <svg class="partners__icon"><use href="./images/partners/partners.svg#icon-notion"></use></svg>
            </a>
        </li>
        <li class="partners__item">
            <a href="" class="partners__link">
                <svg class="partners__icon"><use href="./images/partners/partners.svg#icon-zoom"></use></svg>
            </a>
        </li>
    </ul>
</section>