<section class="services">
    <h2>Services</h2>
    <p>At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include:</p>
    <ul class="services__list">
        <li class="services__card">
            <div>
                <h3>Search engine optimization</h3>
                <a href="">Learn more</a>
            </div>
        </li>
        <li class="services__card">
            <div>
                <h3>Pay-per-click advertising</h3>
                <a href="">Learn more</a>
            </div>
        </li>
        <li class="services__card">
            <div>
                <h3>Social Media Marketing</h3>
                <a href="">Learn more</a>
            </div>
        </li>
        <li class="services__card">
            <div>
                <h3>Email Marketing</h3>
                <a href="">Learn more</a>
            </div>
        </li>
        <li class="services__card">
            <div>
                <h3>Content Creation</h3>
                <a href="">Learn more</a>
            </div>
        </li>
        <li class="services__card">
            <div>
                <h3>Analytics and Tracking</h3>
                <a href="">Learn more</a>
            </div>
        </li>
    </ul>
</section>